h1,h2,h3,h4,h5,h6{
    text-align: center;
    color: black;
}

h3,h2{
 letter-spacing: 2px;
}
.underline{
text-decoration: underline;
}
.itim {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}
.font{
    font-size:large;
    color: rgb(202, 71, 71);
}
.con{
    
    background-color:antiquewhite;

}
table,th,tr,td{
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.Profiletable{
    width:50%;
    font-size: 1.5rem;
    background-color: white;
    
}
.margin25{
    margin-top: 25px;
}
.tdpro{
    padding: 10px;
    background-color: #ddd;
}
.tbwid{
    background-color:#ddd;
    padding: 10px;
    width: 15%;
}
.subject{
    background-color: #ddd;
    width: 40%;
}

.subtdpad{
    text-align: left;
    padding-left: 25px;
    background-color: white;
}
.tdpad{
    background-color: white;
    padding: 10px;
}
.greycolor{
    background-color: #ddd;
}
.textbold{
    font-weight: bold;}

.containImg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    /* float:left; */
    width: 180px;
    background-color: white;
}
.gallery:hover{
    border: 1px solid #777;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc{
    background-color: white;
    padding: 15px;
    text-align: center;
}


.topnav{
    background-color:aquamarine;
    overflow: hidden;
    font-weight: bold;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color:#04AA6D;
    color: white;
}
.topnav .rightnav{
    float: right;
    background-color:aquamarine;
    
}

.p1{
    font-family: "Lucida Console", "Monaco New", monospace;
    font-size: large;
}
.imgINET{
    width: 25%;
    border-radius: 20px ;
}
.mid{
    justify-self:center;
}
